/**
 * Template css
 * Coder : Mr. Quang
 * Email: ducquang117604@gmail.com
 * Copyright @ Comsoftvn
 */
h1.logo a
{
  background: url("../images/img/logo.png") transparent no-repeat;
  height: 127px;
  margin-top: 17px;
  width: 445px;
}
#ja-header
{
  background: url("../images/img/bg_header.jpg") repeat-x;
  height: 199px;
}
#ja-header .main
{
  background: white;
  height: 130px;
  padding-top: 15px;
}
#ja-header .main .main-inner1
{
  background: url("../images/img/bg_header_right.jpg") no-repeat right center transparent;
  margin-top: -15px;
  height: 160px;
}
#ja-search .button
{
  background: url("../images/img/bg_search.png") no-repeat transparent;
  text-indent: -2000px;
  padding: 2px 18px 3px 10px;
  margin-left: 10px;
}
#ja-search
{
  left: 750px;
  top: 122px;
}
#mod-search-searchword
{
  height: 20px;
  width: 160px;
  opacity:0.5;
}
#ja-megamenu
{
  background: url("../images/img/bg_li_top.png") repeat-x transparent;
  margin-top: -37px;
  height: 37px;
}
#ja-mainnav .main
{
  border: none;
}
.ja-megamenu ul.level0 li.mega span.menu-title{

  text-transform: uppercase;
}
.ja-megamenu ul.level0 li.mega a.mega
{
  color: white;
}
.ja-megamenu ul.level1 li.mega a.mega
{
  color: #465571;
}
.ja-megamenu a.over, .ja-megamenu a.active
{
  color: orange !important;
}
.ja-megamenu ul.level0 li.mega a.mega
{
  background: url("../images/img/bg_li_space.png") no-repeat 0px 8px transparent !important;
  height: 16px;
}
.ja-megamenu ul.level1 li.mega a.mega
{
  background: none !important;
}
.ja-megamenu ul.level0 li.mega a.first
{
  background: none !important;
}
.ja-megamenu ul.level1 li.mega
{
  background: url("../images/img/bg_li_level1.png") repeat-x transparent !important;
  height: 38px;
  border: none !important;
}
#ja-container{
  background: url("../images/bg_ja.jpg") no-repeat center top transparent;
  background-color: #F2F2F2;
}
#ja-mainbody{
  width: 650px !important;
  background-color: white;
  min-height: 350px;
  
}
#ja-right
{
  width: 320px !important;
  background-color: white;
}
#ja-container .main
{
  padding-top: 10px;
}
div.ja-moduletable h3, div.moduletable h3{
  background: url("../images/img/bg_h3.png") repeat-x center 2px;
}
div.ja-moduletable span, div.moduletable span{
  background: white;
  padding-right: 10px;
}
.blog-featured .contentheading
{
  background: url("../images/img/bg_h3.png") repeat-x center 5px;
}
.blog-featured .contentheading a{
  background: white;
  padding-right: 10px;
  text-transform: uppercase;
}
.blog-featured .contentpaneopen p img{
  padding-right: 10px;
}
.blog-featured .contentpaneopen p{
  text-align: justify;
}
.blog-featured .items-leading .leading .contentpaneopen .article-tools
{
  display: none;
}
.q_more_news
{
  color: red;
}

ul.latest_article li
{
  background: url("../images/img/bg_li.png") no-repeat;
  padding-left: 15px;
}
ul.latestnews li
{
  background: url("../images/img/bg_li.png") 0 6px no-repeat;
  padding-left: 15px;
}
.column ul li a
{
  color: #818181;
}
/*slide content*/
.bt-cs .bt-inner
{
  border: 1px solid #E4E4E4;
  padding: 10px 10px;
}
.bt-cs .bt-inner img
{
  border: none !important;
  outline: none;
}
.bt-row-separate{
  display: none;
}
.column div.ja-moduletable, .column div.moduletable, .column div.ja-module, .column div.module
{
  margin-left: 10px;
  margin-right: 10px;
}
#Mod102
{
  margin: -20px 0 0 0;
  padding: 0 0 0 2px;
}
#Mod94{
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#Mod102 p
{
  margin: 0px;
}
#Mod103 p
{
  margin: 1px 0 0 0;
}
#Mod103
{
  margin: 0px;
  padding: 0 0 0 2px;
}
#ja-footer
{
  /*background: url("../images/img/bg_header.jpg") repeat-x transparent;*/
  background:#4D5D7C;
  height: 110px;
}
#ja-navhelper
{
  display: none;
}
#ja-poweredby
{
  display: none;
}
.h2_footer
{
  color: white;
  font-weight: lighter;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
}
#ja-footer{
  padding: 0px;
  
}
#ja-footer .main{
  padding: 20px 0 0 0;
  
}
/*Style table*/
.table_custom{
  width: 100%;

}
.table_custom td{
  width: 50%;
  border: 1px solid #E4E4E4;
  padding: 10px;
}
.table_custom2 td{
  border: 1px solid #E4E4E4;
  padding: 10px;
}
.row0{
  background: white;
}
.row1{
  background: #F2F2F2;
}
.table_custom tr:hover{
  background: #e8f6fe;
}
.table_custom2 tr:hover{
  background: #e8f6fe;
}
div.latest_article{
  background: url("../images/img/bg_h3.png") repeat-x center 5px;
}
.latest_article strong{
  background: white;
  padding-right: 10px;
}
#ja-content-main .item-page .contentheading
{
  background: url("../images/img/bg_h2.png") repeat-x center center;
  padding-bottom: 0px;
}
#ja-content-main .item-page .contentheading a{
  background-color: white;
  padding: 0 10px 0 0;
}
#ja-content-main .blog .componentheading
{
  background: url("../images/img/bg_h2.png") repeat-x center center;
  padding-bottom: 0px;
  border-bottom: none;
  margin-top: 10px;
}
#ja-content-main .blog .componentheading .subheading-category{
  background-color: white;
  padding: 0 10px 0 0;
  text-transform: uppercase;
  color: #2A6492;
}
.headerq{
  text-align: center;
  font-weight: bold;
}
.item .contentpaneopen .contentheading a
{
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14px;

}
.item .contentpaneopen .contentheading a:hover
{
  text-decoration: none;
}
#ja-content-main .contact h2
{
  background: url("../images/img/bg_h2.png") repeat-x center center;
  padding-bottom: 0px;
  border-bottom: none;
  margin-top: 10px;
}
#ja-content-main .contact h2 .contact-name{
  background-color: white;
  padding: 0 10px 0 0;
  text-transform: uppercase;
  color: #2A6492;
  padding-bottom: 3px;
}
.h2_contact{
  background: none !important;
  font-weight: lighter;
  font-size: 14px;
}
.jicons-icons img{
  display: none;
}
.label_skitter{
  background: #F52A2D !important;
  padding-bottom: 5px;
  border: none;
}
.createdate
{
  color: red;
}
#Mod110
{
  background: url("../images/img/bg_h2.png") repeat-x center -2px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#Mod110 h3{
  float: left;
  background: red;
  display: none;
}
#Mod96
{
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#Mod110 h3 span{
  margin:8px 0 0 11px;
  width: 50px;
  height:19px;
  float: left;
  background: red;
  color: white;
  text-transform: uppercase;
}
.gkHighlighterGK4{
  padding-top: 5px;
}
p.readmore{
  float: right;
}
.div_footer_r, .div_footer_l
{
  font-size: 14px;
  line-height: 150%;
  color: white;
}
.div_footer_r{
  text-align: left;
  padding-left: 3px;
}
.div_footer_l{
  text-align: center;
  font-size: 12px;
}
.div_footer_l a{
  color: white;
}
.item p{
    font-weight: normal !important;
    text-align: justify !important;
    text-transform: none !important;
}
.item p strong{
    font-weight: normal !important;
    text-align: justify !important;
    text-transform: none !important;
  
}
.item p strong span{
    font-weight: normal !important;
    text-align: justify !important;
    text-transform: lowercase !important;
    font-size:13px !important;
  
}
.item p span{
    font-weight: normal !important;
    text-align: justify !important;
    text-transform: lowercase !important;
    font-size:13px !important;
  
}
p.readmore a{
  text-transform: none !important;
}
#Mod112{
  display:none;
}
.cat-children{
  display:none;
}
#Mod111{
  margin-bottom:0px;
  padding:0px;
}

