.icon-48-danh_sach_do_an {
      background-image: url(../images/l_danh_sach_do_an.png);
      padding-left:60px!important;
}

.icon-48-do_an {
      background-image: url(../images/l_danh_sach_do_an.png);
      padding-left:60px!important;
}

.icon-48-khoa_hoc {
      background-image: url(../images/l_khoa_hoc.png);
      padding-left:60px!important;
}

.icon-48-khoa {
      background-image: url(../images/l_khoa_hoc.png);
      padding-left:60px!important;
}

.icon-48-danh_sach_giao_vien {
      background-image: url(../images/l_danh_sach_giao_vien.png);
      padding-left:60px!important;
}

.icon-48-giao_vien {
      background-image: url(../images/l_danh_sach_giao_vien.png);
      padding-left:60px!important;
}

